# MongoDB Atlas (비밀번호만 본인 값으로 바꾸세요)
DATABASE_URL="mongodb+srv://syralee1004:<db_password>@cluster0.qbfefdi.mongodb.net/team_routine?retryWrites=true&w=majority"

# 로그인/회원가입용 (배포 시 NEXTAUTH_URL은 배포 주소로 설정)
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me-min-32-chars-for-production"
# Google 로그인 (선택)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
